/*
*Welcome to the Portfolio css
*/

/************
    Header
*************/

header {
    display: flex;
    flex-wrap: wrap;
}

#headerArea {
    padding: 25px 25px 5px 25px;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: aqua;
    width: 100%;
}

    #headerArea img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: left;
        max-width: 15%;
        min-width: 85px;
    }

#headerTextContainer {
    text-align: right;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

#headerText, #headerDate {
    margin-bottom: 0px;
}

#headerSubText, #headerDate {
    margin-top: 0px;
}

/*****************
    Section
******************/

.main {
    max-width: 100%;
}

.featuredWork {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Playfair Display', serif;
    color: darkslategrey;
    text-transform: uppercase;
}

    .featuredWork h2 {
        width: 100%;
        border-bottom: 5px dotted black;
    }

    .featuredWork a, a:visited {
        color: darkblue;
        overflow-wrap: break-word;
    }

        .featuredWork a:hover {
            background-color: aqua;
        }

.FeaturedItem {
    max-width: 33.3333%;
    text-align: center;
    margin-bottom: 25px;
}

    .FeaturedItem h3 {
        line-height: 24.8px;
        max-height: 49.6px;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.FeaturedDetails {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.FeaturedItem img:hover {
    border: 5px solid orange;
    width: 95%;
}

/******************
    Responsiveness
********************/
.image {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 370px) {
    .FeaturedItem {
        max-width: 100%;
        font-size: 24px;
    }
}

@media screen and (min-width: 746px) {
    .container, #headerArea {
        max-width: 746px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .featuredWork a {
        padding-left: 5px;
        padding-right: 5px;
    }
}